$white: #ffffff;
$black: #000000;
$white-darken: #f4f7f7;
$black-lighten: #191919;
$primary-900: #024d48;
$primary-800: #1b5f5a;
$primary-700: #35716d;
$primary-600: #4e827f;
$primary-500: #679491;
$primary-400: #80a6a3;
$primary-300: #9ab8b6;
$primary-200: #b3cac8;
$primary-100: #ccdbda;
$primary-50: #e6eded;
$neutral-900: #2f3838;
$neutral-800: #444c4c;
$neutral-700: #596060;
$neutral-600: #6d7474;
$neutral-500: #828888;
$neutral-400: #979b9b;
$neutral-300: #acafaf;
$neutral-200: #c1c3c3;
$neutral-100: #d5d7d7;
$neutral-50: #eaebeb;
$error-900: #8b254a;
$error-800: #b02e51;
$error-700: #c53354;
$error-600: #da3958;
$error-500: #eb3e5b;
$error-400: #ef516b;
$error-300: #f46d83;
$error-200: #f895a4;
$error-100: #fbbec4;
$error-50: #fde5e7;
$success-900: #1b4a34;
$success-800: #25664d;
$success-700: #2b765a;
$success-600: #318668;
$success-500: #369374;
$success-400: #46a386;
$success-300: #60b49a;
$success-200: #8ac9b6;
$success-100: #b6ded2;
$success-50: #e1f2ed;
$warning-900: #f78214;
$warning-800: #faab23;
$warning-700: #fcc32c;
$warning-500: #fcec39;
$warning-300: #fcf175;
$warning-600: #fddb35;
$warning-200: #fef69d;
$warning-100: #fefac4;
$warning-50: #fffde7;
$warning-400: #fff159;