@import '../variables/responsivity';

.mobile {
  @include tabletAndAbove {
    display: none !important;
  }
}

.tablet {
  @include desktop {
    display: none !important;
  }

  @include mobile {
    display: none !important;
  }
}

.desktop {
  @include tabletAndBelow {
    display: none !important;
  }
}

.desktop-hide {
  @include desktop {
    display: none !important;
  }
}

.tablet-hide {
  @include tablet {
    display: none !important;
  }
}

.mobile-hide {
  @include mobile {
    display: none !important;
  }
}
